<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="appSetting1" value="this is app setting 1"></add>
    <add key="appSetting2" value="this is app setting 2"></add>
  </appSettings>
  <connectionStrings>
    <add name="connectionString1" connectionString="this is connection string 1"></add>
  </connectionStrings>
</configuration>